
.divMainUser{
  margin-left: 10px;
  margin-right: 10px;
}


.welcome{
  font-size: 15px;
    font-family: auto;
    color: white;
    position: relative;
    top: -39px;
    padding-left: 15px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: Arial, Helvetica, sans-serif;
}

.userName {
  font-size: 18px;
  margin-left: 4px;
  margin-right: 8px;
  font-weight: bold;
}

.currencyValue {
  font-size: 18px;
  margin-left: 4px;
  font-weight: bold;
}

.imgGrafico{
  height: 100px;
  width: 100px; 

}

.divGrafico{
  text-align: center;
}

.logOut{
  display: flex;
    flex-flow: column;
    position: absolute;
    top: 3px;
    right: 13px;
}

.operation{
  border-radius: 8px;
  margin: 10px;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
  color: #666;
}

.cardSub{

  text-align: center;

}

.cardName{
  padding-right: 10px;
}


.cardMain{
  background-color: white;
}

.operationsListTitle{
  border-bottom: solid 1px;
    text-align: center;
    margin: 10px;

}

.sair{
  height: 44px;
  width: 50px;
  position: absolute;
  right: -15px;
  top: -6px;
  cursor: pointer;
}

.insertOperation{
  text-align: center;
}


.title {
  font-family: Trueno;
  font-weight: 200;
  font-size: 26px;
  color: #54575f;
  border-bottom: solid #26c105 3px;
  width: max-content;
}

.main {
  padding-bottom: 20px;
}

.image {
  width: 185px;
  height: 100px;
}

.mainImg {
  display: flex;
  justify-content: center;
  padding-top: 32px;
}

img {
  height: 100%;
  width: 100%;
}

.imgLogo {
  height: 100%;
  width: 100%;
}

.mainLogin {
  margin-left: 16px;
  margin-right: 16px;
}

.input {
  width: -webkit-fill-available;
  height: 30px;
  border-radius: 8px;
  border: solid 1px gray;
  padding: 13px 4px 4px 40px;
}

.select {
  width: -webkit-fill-available;
  height: 49px;
  border-radius: 8px;
  border: solid 1px gray;
  padding: 13px 4px 4px 40px;
}

.button {
  background-image: linear-gradient(-90deg, #76e35f, #26c105);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
  border-radius: 8px;
  margin-top: 16px;
}

body {
  font-family: Trueno;
  background-color: #fcfefc;
}

.divInput {
  margin-top: 16px;
  display: flex;
  align-items: center;
  position: relative;
}

.icon {
  position: absolute;
  top: 15px;
  left: 12px;
}

.iconBlock {
  position: absolute;
  top: 12.5px;
  left: 11px;
  width: 24px !important; 
  height: 24px;
}

.spanText {
  position: absolute;
  top: 5px;
  left: 40px;
  font-size: 12px;
  color: gray;
}

.mainbackground {
  background-image: linear-gradient(-90deg, #76e35f, #26c105);
  height: 40px;
  border-radius: 10px 10px 0 0;
}

.link {
  font-weight: bold;
  color: #26c105;
  text-decoration: none;
}

.titleMain {
  display: flex;
  margin: 0;
}

.cardRed{
  background-color: red ;
}

.cardGreen{
  background-color: green;
}


.operationBox {
  font-family: Arial, sans-serif;
  padding: 12px;
  border: 2px solid;
  border-radius: 4px;
  margin: 16px;
  position: relative;
  width: 84%;
}

@media screen and (min-width: 768px) {

  .operationBox {
    width: 41%;
  }


  .welcome{
    font-size: 22px;
    font-weight: 800;
    top: -59px;
  }

  .cardName{
    font-size: 30px;
  }
  
.imgGrafico{
  height: 500px;
  width: 500px; 

}
.mainbackground {

  height: 80px;

}

.sair{
  height: 88px;
  width: 100px;
}

 .operationsList{
  display: flex;
  flex-wrap: wrap;
 }

 .operation{
  width: 46%;
 }

  .image {
    width: 300px;
    height: 200px;
  }

  .imgLogo {
    width: 380px;
    height: 83px;
  }

  .operationsListTitle{
    font-size: 20px;
  }
}

.logo {
  display: flex;
  justify-content: center;
}

.error {
  font-size: 13px;
  margin-top: 4px;
  color: red;
  width: 100%;
  display: block;
}




@media screen and (min-width: 1024px) {

  .operationBox {
    width: 26%;
  }

  .operation{
    font-size: 30px;
  }

}




.borderRed {
  border-color: red;
}

.borderGreen {
  border-color: #61DA47;
}

.dateWrapper {
  text-align: right;
  font-size: 12px;
  padding: 0 12px;
  font-weight: bold;
  font-size: #333;
}

.operationName {
  text-align: center;
  font-size: 18px;
  margin: 8px 0;
  font-weight: bold;
  color: #666;
}

.operationValue {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.deleteButton {
  position: absolute;
  right: 0;
  z-index: 3;
  bottom: 0;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  transition: background 0.3s ease;
}
.deleteButton:hover {
  background: #ccc;
}

.chartWrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
}

.chartInfoWrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-end;
  font-family: Arial, sans-serif;
  padding-right: 16px;
}

.chartInfo {
  font-size: 14px;
  color: #666;
  display: flex;
}

.redSquare {
  width: 14px;
  height: 14px;
  background: #eb0000;
  margin-right: 8px;
}
.greenSquare {
  width: 14px;
  height: 14px;
  background: #61DA47;
  margin-right: 8px;
}

.chartTitle {
  font-size: 18px;
  font-weight: 600;
  color: #666;
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 12px 0;
}